<html>
	<head>
		<title>I'm a Teapot!</title>
  <script src="https://eluni.co/analytics.js"></script>
<style>
body {
	font-family: "Helvetica Neue", Helvetica, Lucida Grande, Arial, sans-serif;
	font-size: 1.2em;
	padding: 15px;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Lucida Grande, Arial, sans-serif;
	color: rgb(51, 51, 51);
}
</style>

<body>
	<h1>
		418 - I'm a Teapot
	</h1>
	<p>
	The server understood the request, but refuses to brew coffee due to being, permanently, a teapot.
	<p>
</body>
</html>
